<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' |append: site.github.build_revesion | relative_url }}>
    <title>Document</title>
</head>
<body>
    br>
<h1>떡볶이</h1>

<!--a table chart for calories,serving,time,and difficulty-->
<div>
<left><img src="12112.jfif" width=600 height=400px></left>
<table style="align-self:center;">
<tr><td><img src="caloriesicon.png" width=150 height=100px>
Calories: 300 kcl</td>
<td><img src="servingicon.png" width=150 height=100px>
Serving: 1</td></tr>
<tr><td><img src="timeicon.png" width=150 height=100px>
Time: 45 min</td>
<td><img src="difficultyicon.png" width=150 height=100px>
Difficulty: medium</td></tr>
</table>
</div>

<!--ingredients-->
<table border="1" width="650" height="60">
<tr class="INGREDIENTS"><td>
<h2>INGREDIENTS</h2>
<h3><form action="/action_page.php" method="get">
<input type="checkbox" name="vehicle" value="400g rice cake"> 400g rice cake<br>
<input type="checkbox" name="vehicle" value="1 fish cake"> 1 fish cake<br>
<input type="checkbox" name="vehicle" value="2 cups of water"> 2 cups of water<br>
<input type="checkbox" name="vehicle" value="1/2 green onion"> 1/2 green onio<br>
<input type="checkbox" name="vehicle" value="3 spoons of hot pepper paste"> 3 spoons of hot pepper paste<br>
<input type="checkbox" name="vehicle" value="1 spoon of sugar"> 1 spoon of sugar<br>
<input type="checkbox" name="vehicle" value="1 spoon of soy sauce"> 1 spoon of soy sauce<br>
<input type="checkbox" name="vehicle" value="1 spoon of hot pepper powder"> 1 spoon of hot pepper powder<br>
<input type="checkbox" name="vehicle" value="1 spoon of corn syrup"> 1 spoon of corn syrup<br>
<input type="checkbox" name="vehicle" value="1 spoon of chopped garlic"> 1 spoon of chopped garlic<br>
</h3></form></td>
<td><img src="deok.jfif" width=600 height=400px></td>
</tr></table>

<!--steps-->
<table border="1" width="650" height="60">
<tr class="STEPS"><td>
<h4>STEPS<br>
1.First,cut the fish cake into half like a triangle and make slices of green onion.<br>
<img src="ingred.png" width=150 height=100px></h4>
<h4>2.Put in two cups of water into the wok and also put the ingredients too.<br>
3.After the water starts to boil, put in rice cake into the wok.<br>
<img src="pic2.png" width=150 height=100px></h4>
<h4>4.Boil it<br>
FINISH</h4><br>
</form></td></table>                             
    {{ content }}
</body>
</html>
